/*Note to self: Using CSS from "NYT Best Solution  folder - for convenience only"

/**{
  backgroud-color: darkred;
}

.header {
  background-color: darkred;
}*/
/*
.panel-body a {
  word-break: break-all;
}

.button.is-success.is-hovered {
  margin-left: 45%;
}
*/



/*
.scrollIt {
  height: 400px;
  overflow: scroll;
}*/
/*
body {
  overflow-x: initial;
}*/
